{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<form method="GET" action=".">

<div class="row g-3">
  <div class="col">
    <input type="text" name="name" class="form-control" placeholder="First name" >
  </div>
  <div class="col">
    <input type="text" name="city" class="form-control" placeholder="City">
  </div>
</div>
<br>
<div class="row g-3">
  <div class="col">
    <input type="text" name="experience" class="form-control" placeholder="Experience" >
  </div>
  <div class="col">
    <input type="text" name="skills" class="form-control" placeholder="Skills">
  </div>
</div>
<br>

<button type="submit" class="btn btn-primary">Search</button>
</form>



<br>



<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">Education</th>
      <th scope="col">Experience</th>
      <th scope="col">Skills</th>


    </tr>
  </thead>
  <tbody>
    {% if records %}
    {% for record in records %}
    <tr>
      <th><a href="{% url 'record' record.id %}">{{record}}</a></th>
      <td>{{record.email}}</td>
      <td>{{record.city}}</td>
      <td>{{record.phone}}</td>
      <td>{{record.education}}</td>
      <td>{{record.experience}}</td>
      <td>{{record.skills}}</td>



    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>


{% else %}

<h1>Login</h1>
<br>
<form method="POST" action="{% url 'home'%}">

{% csrf_token %}

    <div class="mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Login</button>

</form>


    {% endif %}

{% endblock %}