{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="card">
    <h5 class="card-header">{{record}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{record.email}}</h5>
      <br>
      <img src="{{record.image.url}}" width="200" height="200" class="rounded float-end" alt="">
      <p class="card-text">{{record.dateCreated| date:'d.m.Y'}}</p>
        <p class="card-text">{{record.address}}</p>
        <p class="card-text">{{record.city}}</p>
        <p class="card-text">{{record.skills}}</p>
        <p class="card-text">{{record.experience}}</p>
        <p class="card-text">{{record.phone}}</p>
  






    </div>
  </div>

  <br>

    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'delete' record.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update' record.id %}" class="btn btn-warning">Update</a>





{% endblock %}